@import '../../../../variables';

.search-input {
  padding: 0.5rem;
  background: $light-background;
  border: 2px solid $dark-background;
  border-radius: 5px;
  border-color: transparent;
  letter-spacing: 0.2em;
}
.category {
  letter-spacing: 0.1em;

  h5 {
    font-size: 1rem;
    color: $font-color;
    margin-bottom: 0px;
  }
  ul {
    text-decoration: none;
    padding-left: 0px;
    li {
      list-style: none;
      cursor: pointer;
      margin: 0.25em 0px;
      padding: 0.25rem 0px;
      font-size: 0.9rem;
      font-weight: 500;
      color: $accent-color;
    }
  }
}
