@import '../../variables';

.rate {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  .stars {
    display: block;

    span {
      color: rgb(255, 185, 0);
      font-size: 1rem;
      margin-right: 0.25rem;
    }
  }

  p {
    color: $dark-gray;
    margin-left: 0.5rem;
    margin-bottom: 0px;
  }
}

