@import '../../../../../variables';

.grid-item {
  display: block;

  .container {
    position: relative;
    background: #222;
    border: none;
    border-radius: 5px;
    width: 350px;
    img {
      height: 175px;
      width: 100%;
      display: block;
      object-fit: cover;
      border-radius: 5px;
      transition: all 0.3s linear;
      // overflow-clip-margin: content-box;
      overflow: clip;
    }
    .link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $secondary;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      transition: all 0.3s linear;
      opacity: 0;
      cursor: pointer;
      a {
        text-decoration: none;
        svg {
          font-size: 1.25rem;
          color: var(--clr-white);
        }
      }
    }
  }
  footer {
    margin-top: 1rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    h5 {
      margin-bottom: 0px;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      color: $font-color;
    }
    p {
      margin-bottom: 0px;
      font-weight: 400;
      color: $secondary;
      letter-spacing: 0.1rem;
    }
  }
}
