.custom-furniture {
  background: #eaded7;
  padding: 0rem 0rem 1.3rem;

  .section-content {
    margin: 0rem 12.5rem;
    @media screen and (max-width: 1250px) {
      margin: 0rem 3rem;
    }
    @media (min-width: 1280px) {
      transform: translateY(5rem);
    }

    h3 {
      color: #453227;
      line-height: 1.25;
    }
    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: start;
      padding-top: 20px;
      @media screen and (max-width: 993px) {
        display: block;
      }

      h3 {
        font-size: 2rem;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
        @media screen and (max-width: 800px) {
          font-size: 1.5rem;
        }
      }
      p {
        color: #795744;
        margin-top: 1rem;
        line-height: 2;
        text-align: start;
        font-size: 1.1rem;
      }
    }

    .cards {
      margin-top: 4rem;
      display: flex;
      gap: 2.5rem;
      @media screen and (max-width: 1250px) {
        display: block;
      }
    }
  }

  @media screen and (max-width: 993px) {
    .header {
      display: block;
    }
  }
}
