@import '../../../../variables';

.card {
  width: 430px;
  
  background: $secondaryLight;
  text-align: center;
  padding: 2.5rem 2rem;
  border-radius: 5px;
  @media screen and (max-width: 1250px) {
    width: 100%;
    margin-bottom: 20px;
  }
  p {
    color: $color-primary;
    font-size: 1.1rem;
  }
  h3 {
    color: $secondaryDark;
    font-size: 1.5rem;
    margin: 10px 0px;
  }
  .icon {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $color-background-highlight;
    img {
      color: $secondaryDark;
      width: 2rem;
      margin: 0 auto;
      margin-top: 1rem;
    }
  }
}
