#header {
  padding: 20px 100px;
  a {
    text-decoration: none;
    color: black;
  }
  .logo {
    width: 100%;
    img {
      width: 170px;
    }
  }
  .menu {
    @media only screen and (max-width: 768px) {
        display: none;
    }
    width: 100%;
    text-align: end;
    ul {
      display: flex;
      justify-content: space-evenly;
    }
    li {
      list-style: none;
      color: grey;
      font-size: 18px;
    }
  }
  .cart-login {
    width: 100%;
    @media only screen and (max-width: 480px) {
        display: none;
    }
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      color: rgb(34, 34, 34);
      font-size: 25px;
      li {
        padding: 0 20px;
      }
    }
  }
}



