
$font-color: #102a42;
$accent-color: #617d98;
$color-primary: #795744;
$color-primary-light: white;
$color-primary-dark: #324d67;
$color-light-brown:rgb(234, 222, 215);

$secondary: #ab7a5f;
$secondaryLight: #c5a491;
$secondaryDark: #453227;
$color-background-highlight: #eaded7;
$alert-color: #bb2525;
$dark-background: #222;

$dark-gray:#324d67;
$light-gray:#bcccdc;

$light-background: #f1f5f8;
