$font-color: #102a42;
$accent-color: #617d98;
$color-primary: #795744;
$color-primary-light: white;
$color-light-brown:rgb(234, 222, 215);

$secondary: #ab7a5f;
$secondaryLight: #c5a491;
$secondaryDark: #453227;
$color-background-highlight: #eaded7;
$alert-color: red;
$dark-background: #222;
