$font-color: #102a42;
$accent-color: #617d98;
$color-primary: #795744;

$secondary: #ab7a5f;
$secondaryLight:#c5a491;
$secondaryDark:#453227;
$color-background-highlight: #eaded7;
$alert-color: red


